.menu.autorization div {
  transition: transform 1s ease 0s;
}
.menu.autorization div:first-child {
  color: #685ed6;
  font-weight: 700;
}
.menu.autorization div:hover {
  transform: rotate(180deg);
}
.home__content .button:hover {
  opacity: 0.6;
}
.home__content .button.home {
  font-feature-settings: "salt" on, "liga" off;
  padding: 12px 32px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
