* {
  box-sizing: border-box;
}
h1,h2,h3{
  margin:0;
}
body {
  margin: 0;
  font-family: Manrope;
  color: #1d2530;
  background: rgba(242, 247, 255, 0.5);
  backdrop-filter: blur(50px);
}
.container{
  position: relative;
  padding: 0px 165px;
  width:1440px;
  
}
.menu.autorization div {
  transition: transform 1s ease 0s;
}
.menu.autorization div:first-child {
  color: #685ed6;
  font-weight: 700;
}
.menu.autorization div:hover {
  transform: rotate(180deg);
}
.button:hover {
  opacity: 0.6;
}


