* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter;
}

.auth .container {
    width: 400px;
    margin: 0 auto;
    padding: 300px 0 0;
}

.auth .container .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.auth .container .content .title {
    font-size: 26px;
    font-weight: 700;
    width: auto;
    height: auto;
    flex-shrink: 0;
    margin-bottom: 40px;
}

.auth .container .content .form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 30px;
}

.auth .container .content .form .email-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth .container .content .form .password-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.auth .container .content .form .password-input .password-label {
    display: flex;
    justify-content: space-between;
}

.sign-in-button {
    display: flex;
    width: 100%;
    background-color: blue;
    border-radius: 5px;
    height: 35px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid blue;
}

.auth .container .content .footer {
    color: rgba(51,51,51,0.73);
}

input {
    border: 1px solid rgba(51,51,51,0.23);
    box-shadow: 1px 1px 0px 0px rgba(51,51,51,0.08);
    border-radius: 5px;
    height: 35px;
    outline: none;
}

input:focus {
    border: 2px solid blue;
}

.link {
    text-decoration: none;
    color: blue;
    font-weight: 600;
}
