p {
    font-size: 20px;
}

li{
    text-decoration: underline;
    /* font-size: 40px; */
}
p,li {
    font-weight: bold;
}
h1{
    color:green;
}

#first {
    /* font-size: 40px; */
    font-weight: bold;
}
.red {
    color:red;
}
#third {
    text-decoration: underline;
    /* font-size: 40px; */

}
.small-text {
    font-weight: normal;
}