.task {
  display: flex;
  justify-content: space-between;
  //   padding: 16px 24px;
  border-bottom: 1px solid #eaecf0;
  //   display: grid;
  //   grid-template-columns: 369px 129px 402px 131px 137px 140px;
  //   grid-template-rows: 1fr;
  // height: 72px;
  // width: auto;

  color: #667085;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  .cell {
    padding: 16px 24px;
    display: flex;
    height: 72px;
    align-items: center;
    flex-shrink: 0;
    // justify-content: center;
  }
  .name {
    min-width: 380px;
  }
  .status {
    min-width: 130px;
  }
  .date_start {
    width: 130px;
  }
  .date_finish {
    width: 130px;
  }

  & .cell.name {
    display: flex;
    gap: 12px;
    justify-content: start;
    align-items: center;
  }



  & .cell:last-child {
    display: flex;
    gap: 4px;
    padding: 16px;
  }
  // & .cell:nth-child(n + 4) {
  //   align-items: center;
  // }
  & .title {
    color: #101828;
    font-weight: 500;
  }
  & .cell.name .avatar img {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-position: center;
  }
  & .cell input {
    appearance: none; //скукоживает при сжатии
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid #d0d5dd;
    background: #fff;
  }
  & .cell input:checked {
    border: 1px solid var(--color-theme-primary);
    background: #f9f5ff;
    padding: 3px;
    background-image: url('/check.svg');
    background-position: center;
    background-repeat: no-repeat;
  }

  .description {
    width: auto;
  }

  .status {
    display: flex;
    //justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  .task_status{
    display:inline-block;
    border-radius: 16px;
    padding: 2px 8px;
  }

  .done {
    background: #ecfdf3;
    color: #027a48;
  }
  // .new {
  //   background: #f2f4f7;
  //   color: #344054;
  // }
  // .in_progress {
  //   background: #f4ebff;
  //   color: #6941c6;
  // }
}
