* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.container {
  margin: 0 auto;
  max-width: 600px;
}
.carousel-item {
  height: 450px;
  overflow: hidden;
  flex: 0 0 600px;
}
img {
  width: 100%;
  margin-top: -150px;
}

.carousel {
  user-select: none;
  position: relative;
  overflow: hidden;
}
.carousel-controls {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 0 20px;
}
.controls {
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.23);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  font-size: 55px;
  cursor: pointer;
}

.controls:hover {
  background: rgba(0, 0, 0, 0.4);
}

.dot {
  width: 20px;
  height: 10px;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.carousel-indicators {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
}
.dot:hover {
  background: rgba(255, 255, 255, 0.3);
}
.dot.active {
  background: rgba(255, 255, 255, 1);
}
.carousel-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease;
}
