.button {
  padding: 10px 16px;
  border: 1px solid transparent;

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  border-radius: 8px; // скорее всего надо будет удалить и для каждой кнопки свое

  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  &.primary {
    border-color: #7f56d9;
    // border-radius: 8px;
    background-color: #7f56d9;
    color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }

  span:first-child {
    display: flex;
    align-items: center;
  }
  span:empty {
    display: none;
  }
}
